*
{
    font-size:100%;
    background-color:#31343D
}

header
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    background-color: #31343D;
    
}
div
{
    display:flex;
}
h1
{
    background-color:#E7B100;
    color:#31343D;
    font-size:300%;
    padding:3%;
}
.navButtons
{
    display:flex;
    position:relative;
    justify-content:right;
    padding: 2%;

}
li
{
    background-color:#31343D;
    color: #E7B100;
    border-color:#31343D;
    padding: 5px;
    font-size:125%;
    border: solid #31343D 5px;
    border-width:10%;
}
div img
{
    display:flex;
    flex-wrap:wrap;
    width:10vw;
}
p
{
    color:#E0EAE5;
}
.title
{
    
    padding:2%;
    font-size:225%;
    font-style:bold;
}
article p 
{
    padding-left:15%;
    padding-right:5%;
    font-size:175%;
    line-height:1.5;
}
a
{
    color:#E7B100;
}
section
{
    display:inline;
}
.card
{
    display:flex;
    display:inline;
    height: 600px;
    margin: 8%;
    filter: blur(4px);
}

.card:hover
{
    filter:blur(0);
}
#resize
{
    height:600px;
    margin:6%;
    margin-bottom:8%;
}
footer
{
    display:flex;
    justify-content:center;
    color:#E7B100;
    font-size: 150%
}
footer h3
{
    margin:5%;
    display:inline;
}